# Over here we need to download the three csv files ( 08_d, 09_d ,10_d )

 then using the  08_d, 09_d ,10_d  csv files, 11_c csv file is created

In [ ]:
import pandas as pd

In [ ]:
aisles = pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/08_d_aisles_(downloaded_csv)).csv')

In [ ]:
departments = pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/09_d_departments_(downloaded_csv)).csv')

In [ ]:
products = pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/10_d_products_(downloaded_csv)).csv')

In [ ]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [ ]:
count_row = aisles.shape[0]  
print(count_row)

134

In [ ]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [ ]:
count_row = departments.shape[0]  
print(count_row)

21

In [ ]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [ ]:
count_row = products.shape[0]  
print(count_row)

49688

In [ ]:
prod_with_aisles = pd.merge(products, aisles, how='inner', on="aisle_id")

In [ ]:
prod_with_aisles.head()

,product_id,product_name,aisle_id,department_id,aisle
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes
1,78,Nutter Butter Cookie Bites Go-Pak,61,19,cookies cakes
2,102,Danish Butter Cookies,61,19,cookies cakes
3,172,Gluten Free All Natural Chocolate Chip Cookies,61,19,cookies cakes
4,285,Mini Nilla Wafers Munch Pack,61,19,cookies cakes

In [ ]:
prod_final = pd.merge(prod_with_aisles, departments, how='inner', on="department_id")

In [ ]:
prod_final.head()

,product_id,product_name,aisle_id,department_id,aisle,department
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,snacks
1,78,Nutter Butter Cookie Bites Go-Pak,61,19,cookies cakes,snacks
2,102,Danish Butter Cookies,61,19,cookies cakes,snacks
3,172,Gluten Free All Natural Chocolate Chip Cookies,61,19,cookies cakes,snacks
4,285,Mini Nilla Wafers Munch Pack,61,19,cookies cakes,snacks

In [ ]:
prod_final.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'aisle',
       'department'],
      dtype='object')

In [ ]:
prod_final = prod_final[['product_id', 'product_name', 'aisle', 'department']]

In [ ]:
prod_final.to_csv('11_c_products_list_(created_csv).csv')

In [ ]:
!ls -lah /content

total 3.3M
drwxr-xr-x 1 root root 4.0K Aug  9 14:32  .
drwxr-xr-x 1 root root 4.0K Aug  9 13:49  ..
-rw-r--r-- 1 root root 3.3M Aug  9 14:32 '11_c_products_list_(created_csv).csv'
drwxr-xr-x 4 root root 4.0K Aug  3 20:20  .config
drwxr-xr-x 1 root root 4.0K Aug  3 20:21  sample_data