# Over here we require the two csv files ( 02_c ,04_c )

 using 02_c csv file, 04_c csv file is created

In [ ]:
from datetime import datetime
import uuid
import random
import pandas as pd

In [ ]:
!pip show faker

Name: Faker
Version: 13.15.1
Summary: Faker is a Python package that generates fake data for you.
Home-page: https://github.com/joke2k/faker
Author: joke2k
Author-email: joke2k@gmail.com
License: MIT License
Location: /usr/local/lib/python3.7/dist-packages
Requires: python-dateutil, typing-extensions
Required-by:

In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (13.15.1)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [ ]:
from faker import Faker

In [ ]:
faker=Faker()  # Faker Object

To Generate the Artificial Business Data

In [ ]:
profile3 = faker.profile(sex='M')
profile3

{'address': '21477 Hernandez Square\nNorth Amberside, MS 86537',
 'birthdate': datetime.date(1933, 2, 21),
 'blood_group': 'AB-',
 'company': 'Murray-Diaz',
 'current_location': (Decimal('-37.3574185'), Decimal('-126.936166')),
 'job': 'Sport and exercise psychologist',
 'mail': 'williamacosta@yahoo.com',
 'name': 'Robert Rojas',
 'residence': '584 Holly Haven Apt. 389\nWest Annefort, DE 04551',
 'sex': 'M',
 'ssn': '017-07-6010',
 'username': 'scottponce',
 'website': ['https://wilson-garcia.biz/',
  'http://morris.info/',
  'https://www.williams.org/',
  'https://www.curtis.biz/']}

We are gonna create the specific User Data manually step by step

#User Profile

In [ ]:
print(faker.first_name_male())
print(faker.last_name())
dob = faker.date_of_birth(maximum_age=80, minimum_age=21)
print(dob)
age_days = (datetime.now().date() - dob)
age_days = age_days.days
age_years = int(age_days/365)
age_months = int((age_days%365)/30)
print(age_years)
print(age_months)
print(faker.phone_number())
print(faker.ssn())
print(str(uuid.uuid4()))                  # Unique User ID for the Profile
print(faker.lexify(text='??????????'))    # 10 Character Family ID

Matthew
Gray
1970-04-20
52
4
022.276.3069x3531
710-64-0224
225204b3-6d8e-4f85-99bd-3b4fb6945d33
LdpXtVZVOB

#Job Specific Info

In [ ]:
print(faker.job())              # Type of Job
print(faker.company())          # Name of the Company
print(faker.address())          # address of the Company

Plant breeder/geneticist
Sullivan-Hall
55740 Gonzalez Path Suite 532
North Gregoryhaven, NH 70494

# Credit Card Info

We are selecting any random credit card type provider and then generarting the credit card number based on the choice.
 And then their 
 Security Code (CVV) and the Expiration Date.

In [ ]:
card_types = ['amex', 'diners', 'discover', 'jcb', 'jcb15', 'jcb16', 'maestro', 'mastercard', 'visa', 'visa13', 'visa16', 'visa19']  # available credit card types
card_choice = random.choice(card_types)                         # Choosing the paticular credit card type provider
card_provider = faker.credit_card_provider(card_choice)
print(card_provider)
print(faker.credit_card_number(card_choice))        # We are generating the credit card number based on our choice of card
print(faker.credit_card_security_code(card_choice))
print(faker.credit_card_expire())

JCB 15 digit
213186081847964
811
08/22

#Income Group

In [ ]:
income_groups = [40000, 80000, 120000, 160000, 200000, 240000, 270000, 300000]
income_choice = random.choice(income_groups)
print(income_choice)

200000

#Marital Status

In [ ]:
family_groups = ['single', 'married']
family_choice = random.choice(family_groups)
print(family_choice)

married

Over here in this example we are using Male members as the Main Family Person. So the spouse are definitely going to be female.

In [ ]:
if family_choice == 'married':
  print(faker.first_name_female())
  print(faker.last_name())
  print(faker.date())
  print(faker.phone_number())
  print(faker.ssn())
  print(str(uuid.uuid4()))
  print(faker.lexify(text='??????????')) # Family ID

Caitlin
Horn
1995-09-27
+1-045-333-0604x169
167-80-4519
18e03707-fdb6-4432-8d39-3b8aa6d2b30c
UPjGDhFUNJ

In [ ]:
if family_choice == 'married':
  kids_group = random.randint(0, 4)
  print(kids_group)
  if kids_group > 0:
    for each_kid in range(kids_group):
      child_type = random.randint(0, 1)
      if child_type == 0: 
         # male
      else:
         # female

# the entire data generation for the kids details wil be mentioned in '(C)_Consumer_Profile_master_ Data'.

#Vehicle Data

In [ ]:
!pip install faker_vehicle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker_vehicle
  Downloading faker_vehicle-0.2.0-py2.py3-none-any.whl (162 kB)
     |████████████████████████████████| 162 kB 5.2 MB/s
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (from faker_vehicle) (13.15.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker->faker_vehicle) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker->faker_vehicle) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker->faker_vehicle) (1.15.0)
Installing collected packages: faker-vehicle
Successfully installed faker-vehicle-0.2.0

faker_vehicle is a provider for the Faker Python package.

It provides vehicle and machinery related fake data for testing purposes:

Vehicle Make

Vehicle Model

Vehicle Make / Model

Vehicle Make / Model / Year

Vehicle Make / Model / Category

Vehicle Year

Vehicle Object (you can format)

Machine Make

Machine Model

Machine Make / Model

Machine Make / Model / Year

Machine Make / Model / Category

Machine Year

Machine Object (you can format)


Add the VehicleProvider to your Faker instance:

from faker import Faker
from faker_vehicle import VehicleProvider

In [ ]:
from faker_vehicle import VehicleProvider
faker.add_provider(VehicleProvider)

In [ ]:
faker.vehicle_object()

{'Category': 'SUV', 'Make': 'Lexus', 'Model': 'RX', 'Year': 2002}

#Address or Location Data:

We need to generate a very Realistic User Address Data (Location Data) within the Unied States Territory.

Using WALMART Location Geographical Data (Longitude and Latitude) we can generate the User Address within the close proximitiy in the same city, zipcode where the store is.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/KislayKaran/Walmart_Supermarket/main/Required_CSV_files/02_c_selected_stores_(created_csv).csv')

In [ ]:
df.head()

        city state  zip_code   latitude   longitude
0  Abbeville    LA     70510  29.972971  -92.095051
1   Aberdeen    MD     21001  39.494980  -76.177507
2   Aberdeen    NC     28315  35.159693  -79.424516
3   Aberdeen    SD     57401  45.456105  -98.436532
4   Aberdeen    WA     98520  46.975337 -123.806587

In [ ]:
PRECISION = 1

We are considering from 6 decimal places	0.000001 to  0.1 only 1 decimal place bcoz the precision of	0.000001 6 decimal degrees gives us	the range in some 44 mm to 110 mm. And the precision of 0.1 decimal degree gives us the range in 4 km to 11 km in radius depending upon the Latitude line

In [ ]:
df.latitude = df.latitude.round(PRECISION)
df.longitude = df.longitude.round(PRECISION)

If we  make our Precision to 1, then this makes our User Address in the close proximity in the Neighbourhood of the Walmart Store Location.

In [ ]:
df.to_csv('04_c_wm_stores_single_precision_(created_csv).csv')

In [ ]:
df.head()

        city state  zip_code  latitude  longitude
0  Abbeville    LA     70510      30.0      -92.1
1   Aberdeen    MD     21001      39.5      -76.2
2   Aberdeen    NC     28315      35.2      -79.4
3   Aberdeen    SD     57401      45.5      -98.4
4   Aberdeen    WA     98520      47.0     -123.8

In [ ]:
df_local = df[df['state'] == 'CA']
df_local

                 city state  zip_code  latitude  longitude
87    American Canyon    CA     94503      38.2     -122.3
99            Anaheim    CA     92801      33.8     -118.0
100           Anaheim    CA     92801      33.8     -117.9
101           Anaheim    CA     92801      33.9     -117.9
102           Anaheim    CA     92805      33.8     -117.9
...               ...   ...       ...       ...        ...
4602         Woodland    CA     95776      38.7     -121.8
4603         Woodland    CA     95776      38.7     -121.7
4637            Yreka    CA     96097      41.7     -122.6
4638        Yuba City    CA     95993      39.1     -121.7
4639     Yucca Valley    CA     92284      34.1     -116.4

[281 rows x 5 columns]

In [ ]:
df.sample(1).to_dict(orient='record')[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  """Entry point for launching an IPython kernel.

{'city': 'Naples',
 'latitude': 26.3,
 'longitude': -81.8,
 'state': 'FL',
 'zip_code': 34110}

Creating the 'Street Addres's of the User with the help of  'faker'. 

Selecting a random location at a time and getting the 'State', 'Zipcode'  the 'Latitude' and 'Longitude' added along with it.

Now we gonna add random 5 digits in the Decimal Places of the Longitude and Latitude. 

Adding the 6 digit random values b/w 0.01 to 0.09 without changing the 1st place after the decimal point.

In [ ]:
print("Street Address: " +faker.street_address())
selected_location = df.sample(1).to_dict(orient='records')[0]
city = selected_location['city']
state = selected_location['state']
zip_code = selected_location['zip_code']
print("City: " +city)
print("State: " +state)
print("Zip Code: " + str(zip_code))
latitude = selected_location['latitude']
longitude = selected_location['longitude']
print("latitude : " + str(latitude) + ' longitude: ' + str(longitude))

store_data = {'latitude': latitude, 'longitude': longitude, 'count': 1}

random_6_digits_float = round(random.uniform(0.01, 0.09), 6)    
#print(random_6_digits_float)

if latitude > 0:
  latitude = latitude + random_6_digits_float
else:
  latitude = latitude - random_6_digits_float
latitude = round(latitude,6)


random_6_digits_float = round(random.uniform(0.01, 0.09), 6)

if longitude > 0:
  longitude = longitude + random_6_digits_float
else:
  longitude = longitude - random_6_digits_float
longitude = round(longitude,6)
print("latitude : " + str(latitude) + ' longitude: ' + str(longitude))

profile_data = {'latitude': latitude, 'longitude': longitude, 'count': 1}

Street Address: 9314 Lopez Mall Apt. 894
City: Siloam Springs
State: AR
Zip Code: 72761
latitude : 36.2 longitude: -94.6
latitude : 36.279299 longitude: -94.631628

#Showing Walmart and User Address in Map

We will be taking together both 'store_data' and 'profile_data' into a Data Frame named as 'all_store'

Also Showing with an example how far is the User Address from the Walmart Store Location

In [ ]:
all_stores = []
all_stores.append(store_data)
all_stores.append(profile_data)

In [ ]:
all_stores

[{'count': 1, 'latitude': 36.2, 'longitude': -94.6},
 {'count': 1, 'latitude': 36.279299, 'longitude': -94.631628}]

In [ ]:
all_stores = pd.DataFrame(all_stores)
all_stores

    latitude  longitude  count
0  36.200000 -94.600000      1
1  36.279299 -94.631628      1

In [ ]:
import plotly.express as px
import plotly.figure_factory as ff
import numpy as np
MAPBOX_TOKEN = 'pk.eyJ1IjoiZm9kZ2Fib3JtYXRoIiwiYSI6ImNrZmY3Nzc2bjBiemkyeG8zdGNzcXgzMGIifQ.J0dZhMiuZTPVexL8nrpS6Q'
px.set_mapbox_access_token(MAPBOX_TOKEN)

In [ ]:
fig = px.scatter_geo(all_stores, 
                     lon = all_stores['longitude'],
                     lat = all_stores['latitude'], 
                     color="count",
                     hover_name="count", size="count",
                     projection="natural earth")
fig.show()

In [ ]:
fig = ff.create_hexbin_mapbox(
    data_frame=all_stores, lat='latitude', lon='longitude',
    nx_hexagon=150, opacity=0.9, labels={"color": "Hotspot records"},
    color='count', agg_func=np.sum, color_continuous_scale="Reds"
)
fig.show()

In [ ]:
fig = px.density_mapbox(all_stores, lat='latitude', lon='longitude', z='count', radius=10,
                        center=dict(lat=41.3, lon=-96.1), zoom=3,
                        mapbox_style="stamen-terrain")
fig.show()